@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Lato";
@import "https://fonts.googleapis.com/earlyaccess/notosanssc.css";
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fade-in-2 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out-2 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
*:not(i) {
  font-family: "Lato", "Noto Sans CJK SC", "Noto Sans SC", sans-serif; }

input, textarea {
  border: none;
  resize: none;
  font-size: 30px;
  padding: 20px; }
  input:active, input:focus, textarea:active, textarea:focus {
    outline: none; }
  input:disabled, textarea:disabled {
    color: black;
    background-color: inherit; }

.vertical-align .vertical-align-wrapper {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

.shadow {
  box-shadow: 3px 2px 9px grey; }

.shadow-light {
  box-shadow: 1px 1px 4px grey; }

.normal, .normal input {
  background: white;
  font-size: 16px;
  display: block;
  height: 20px;
  padding: 0;
  position: relative; }
  .normal.underlined, .normal.underlined input, .normal input.underlined, .normal input.underlined input {
    border-bottom: 1px solid grey !important;
    transition: border-bottom .4s ease; }
    .normal.underlined.red, .normal.underlined input.red, .normal input.underlined.red, .normal input.underlined input.red {
      border-bottom: 1px solid #F44336 !important; }
    .normal.underlined:focus, .normal.underlined:active, .normal.underlined input:focus, .normal.underlined input:active, .normal input.underlined:focus, .normal input.underlined:active, .normal input.underlined input:focus, .normal input.underlined input:active {
      border-bottom: 1px solid #448AFF !important; }
  .normal.dark, .normal input.dark {
    background: inherit;
    color: white; }
  .normal.disabled, .normal:disabled, .normal input.disabled, .normal input:disabled {
    border-bottom-color: transparent !important; }

.hidden {
  display: none !important; }

.transparent {
  opacity: 0;
  pointer-events: none !important; }

.flex {
  display: flex; }
  .flex.column {
    flex-direction: column; }

.flex-filler {
  flex: 1 1 auto; }

.flex-last-item {
  width: 100%; }

.flex-extend-inner-wrapper, .flex-inner-extend {
  position: absolute;
  height: 100%;
  width: 100%; }

img.center {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.btn, .toggle {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  height: 50px;
  width: 60px;
  font-weight: lighter;
  text-align: center;
  transition: .4s ease;
  user-select: none;
  cursor: pointer;
  border-radius: 1px;
  background: white; }
  .btn[disabled], .btn.disabled, .toggle[disabled], .toggle.disabled {
    pointer-events: none;
    opacity: .5; }
  .btn.icon, .toggle.icon {
    pointer-events: none; }
  .btn.dark, .toggle.dark {
    background: #212121;
    color: white; }
  .btn.accent, .toggle.accent {
    flex: 0 0 auto;
    color: white;
    background: #448AFF; }
    .btn.accent:hover:not(:active), .toggle.accent:hover:not(:active) {
      background: #4678ff;
      box-shadow: 0px 1px 6px black;
      color: white; }
    .btn.accent:active, .toggle.accent:active {
      color: white; }
  .btn.text, .toggle.text {
    width: auto;
    display: flex; }
    .btn.text .icon-wrapper, .toggle.text .icon-wrapper {
      flex: 0 0 60px; }
    .btn.text .text-wrapper, .toggle.text .text-wrapper {
      display: block;
      flex: 1 1 auto;
      text-align: left;
      pointer-events: none;
      position: relative;
      white-space: nowrap; }
  .btn.loading, .toggle.loading {
    opacity: .8; }
    .btn.loading .loading-icon .material-icons, .toggle.loading .loading-icon .material-icons {
      flex: 1 1 auto;
      animation: spin 1s linear infinite; }
  .btn.narrow, .toggle.narrow {
    width: 36px; }
  .btn.wide, .toggle.wide {
    width: 180px; }
  .btn.wider, .toggle.wider {
    width: 240px; }
  .btn.widest, .toggle.widest {
    width: 100%; }
  .btn:after, .toggle:after {
    pointer-events: none;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    transition: background .4s ease; }
  .btn.underlined:after, .toggle.underlined:after {
    background: black; }
  .btn.underlined.active:after, .btn.underlined:hover:after, .toggle.underlined.active:after, .toggle.underlined:hover:after {
    background: #448AFF; }
  .btn:hover .tooltip, .toggle:hover .tooltip {
    opacity: 1;
    bottom: -32px; }
  .btn.active, .btn:hover, .toggle.active, .toggle:hover {
    color: #448AFF; }
  .btn:not(.underlined):hover .add-circle, .toggle:not(.underlined):hover .add-circle {
    opacity: 1; }
  .btn:not(.underlined):hover .original, .toggle:not(.underlined):hover .original {
    opacity: 0; }
  .btn:not(.accent):hover, .btn:not(.accent):active, .toggle:not(.accent):hover, .toggle:not(.accent):active {
    color: #448AFF; }
    .btn:not(.accent):hover span, .btn:not(.accent):active span, .toggle:not(.accent):hover span, .toggle:not(.accent):active span {
      opacity: 1; }
  .btn.border, .toggle.border {
    border: 1px solid #212121; }
  .btn .icon-wrapper, .btn .text-wrapper, .toggle .icon-wrapper, .toggle .text-wrapper {
    height: 100%; }
  .btn .text-wrapper, .toggle .text-wrapper {
    display: none; }
  .btn .loading-icon, .toggle .loading-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: inherit;
    transition: .4s ease; }
  .btn .tooltip, .toggle .tooltip {
    z-index: 999999999;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: -20px;
    transition: opacity .4s ease, bottom .4s ease;
    text-transform: none;
    width: 100%;
    height: 32px; }
    .btn .tooltip .tooltip-text, .toggle .tooltip .tooltip-text {
      background: #212121;
      color: white;
      padding: 8px 10px;
      border-radius: 2px;
      font-size: 12px;
      white-space: nowrap; }

.toggle {
  cursor: pointer;
  position: relative;
  display: inline-block; }
  .toggle .first, .toggle .second {
    transition: opacity .4s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .toggle.accent {
    width: 120px; }
  .toggle .first {
    opacity: 1; }
  .toggle .second {
    opacity: 0; }
  .toggle.change-hover:hover.show-second .first, .toggle:not(.change-hover).show-second .first {
    opacity: 0; }
  .toggle.change-hover:hover.show-second .second, .toggle:not(.change-hover).show-second .second {
    opacity: 1; }
  .toggle.loading {
    opacity: .8;
    pointer-events: none; }
    .toggle.loading .first, .toggle.loading .second {
      opacity: 0; }
    .toggle.loading .loading-icon {
      opacity: 1; }

.btn-breaker {
  margin: 10px 10px;
  width: 1px;
  background: lightgrey; }

.btns {
  justify-content: center;
  display: flex; }
  .btns .text-wrapper {
    flex: none;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 60px; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.block {
  background: transparent;
  position: fixed;
  z-index: 900000000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0; }

.max-z-index {
  z-index: 999999999;
  position: relative; }

.z-index-inherit {
  z-index: inherit;
  position: relative; }

.no-width {
  width: 0 !important; }

.bg-grey {
  background: #eeeced; }

.title-dark {
  padding: 0 20px;
  background: #212121;
  color: white;
  margin-right: 5px; }

.form {
  width: 100%;
  padding: 15px 0 20px;
  z-index: 9999;
  left: 0;
  background: white; }
  .form .form-wrapper {
    width: 100%;
    max-width: 900px;
    margin: auto; }
  .form .form-row {
    display: flex;
    padding: 0 50px;
    margin-top: 5px; }
  .form .form-title {
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 20px 50px 25px; }

@keyframes cell-highlight {
  from {
    transform: scale(1);
    opacity: .7; }
  to {
    transform: scale(2);
    opacity: 0; } }
@keyframes blink {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
.zoom-out-animation-enter {
  transition: 1s ease;
  transform: scale(0.7);
  opacity: 0; }
  .zoom-out-animation-enter.zoom-out-animation-enter-active {
    opacity: 1;
    transform: scale(1); }

.zoom-out-animation-leave {
  transition: 1s ease;
  transform: scale(1);
  opacity: .5;
  pointer-events: none; }
  .zoom-out-animation-leave.zoom-out-animation-leave-active {
    transform: scale(1.5);
    opacity: 0; }

.fade-animation-enter {
  transition: 1s ease;
  opacity: 0; }
  .fade-animation-enter.fade-animation-enter-active {
    opacity: 1; }

.fade-animation-leave {
  transition: 1s ease;
  opacity: 1; }
  .fade-animation-leave.fade-animation-leave-active {
    opacity: 0; }

html, body, #root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: white; }

.game-frame {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; }
  .game-frame .container-wrapper-extend.paused {
    filter: blur(2px); }
  .game-frame .action-bar-view {
    flex: 0 0 50px; }
    .game-frame .action-bar-view .right {
      float: right; }
  .game-frame .container-wrapper {
    position: relative;
    flex: 1 0 auto; }

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.grid-container .grid-queue {
  display: flex;
  justify-content: center; }
.grid-container .grid-view, .grid-container .queue-view {
  height: 302px; }
.grid-container .grid-view {
  height: 300px; }
  .grid-container .grid-view .grid-cells {
    position: relative;
    height: 300px;
    width: 150px;
    border: 1px solid grey;
    overflow: hidden; }
.grid-container .grid-cell {
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  opacity: 0;
  transition: left .5s ease, top .5s ease, transform .5s ease, background-color .5s ease;
  box-sizing: border-box;
  border: 1px solid white; }
  .grid-container .grid-cell.grid-cell-color-solid {
    background-color: black; }
  .grid-container .grid-cell.detromino {
    background-color: #448AFF;
    z-index: 10; }
    .grid-container .grid-cell.detromino.grid-cell-animation-enter {
      transform: scale(0.5);
      opacity: 0;
      transition: .5s ease; }
      .grid-container .grid-cell.detromino.grid-cell-animation-enter.grid-cell-animation-enter-active {
        transform: scale(1);
        opacity: 1; }
  .grid-container .grid-cell.detromino-target {
    background: #a5bcdb; }
  .grid-container .grid-cell.highlight {
    background: #ffecb3; }
    .grid-container .grid-cell.highlight:after {
      content: " ";
      background: #ffecb3;
      width: 15px;
      height: 15px;
      display: block;
      position: absolute;
      box-sizing: border-box;
      left: -1px;
      top: -1px;
      animation: cell-highlight infinite 2s; }
  .grid-container .grid-cell.blinking {
    background: #fff;
    z-index: 100;
    animation: blink infinite 2s; }
  .grid-container .grid-cell.blinking-black {
    background: #000;
    z-index: 100;
    animation: blink infinite 2s; }
  .grid-container .grid-cell.stale {
    background-color: #F44336;
    z-index: 10; }
    .grid-container .grid-cell.stale.grid-cell-animation-leave {
      opacity: 1;
      transform: scale(1);
      transition: 1s ease;
      z-index: 10; }
      .grid-container .grid-cell.stale.grid-cell-animation-leave.grid-cell-animation-leave-active {
        opacity: 0;
        transform: scale(2); }
  .grid-container .grid-cell.target {
    background-color: #848484; }
  .grid-container .grid-cell.original {
    background-color: black; }
  .grid-container .grid-cell.selected {
    transform: scale(1.5);
    z-index: 100; }
  .grid-container .grid-cell.grid-cell-animation-leave {
    opacity: 1;
    transition: opacity 1s ease; }
    .grid-container .grid-cell.grid-cell-animation-leave.grid-cell-animation-leave-active {
      opacity: 0; }
  .grid-container .grid-cell.demo {
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-x-0 {
    left: 0px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-x-1 {
    left: 15px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-x-2 {
    left: 30px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-x-3 {
    left: 45px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-x-4 {
    left: 60px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-x-5 {
    left: 75px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-x-6 {
    left: 90px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-x-7 {
    left: 105px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-x-8 {
    left: 120px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-x-9 {
    left: 135px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-x-10 {
    left: 150px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-0 {
    top: 0px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-1 {
    top: 15px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-2 {
    top: 30px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-3 {
    top: 45px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-4 {
    top: 60px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-5 {
    top: 75px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-6 {
    top: 90px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-7 {
    top: 105px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-8 {
    top: 120px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-9 {
    top: 135px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-10 {
    top: 150px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-11 {
    top: 165px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-12 {
    top: 180px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-13 {
    top: 195px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-14 {
    top: 210px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-15 {
    top: 225px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-16 {
    top: 240px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-17 {
    top: 255px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-18 {
    top: 270px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-19 {
    top: 285px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-y-20 {
    top: 300px;
    opacity: 1; }
  .grid-container .grid-cell.grid-cell-preview {
    background-color: #8BC34A;
    transition: background-color .5s ease; }
.grid-container .queue-view {
  margin-left: 10px;
  width: 82px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden; }
  .grid-container .queue-view .next {
    flex-shrink: 0; }
    .grid-container .queue-view .next .next-inner {
      height: 40px; }
    .grid-container .queue-view .next .detromino-view-wrapper {
      position: absolute; }
    .grid-container .queue-view .next .detromino-animation-leave, .grid-container .queue-view .next .detromino-animation-enter.detromino-animation-enter-active {
      opacity: 1;
      transform: scale(1);
      padding: 5px 0;
      transition: .5s ease; }
    .grid-container .queue-view .next .detromino-animation-leave.detromino-animation-leave-active, .grid-container .queue-view .next .detromino-animation-enter {
      opacity: 0;
      transform: scale(0.2);
      padding: 0;
      transition: .5s ease; }
  .grid-container .queue-view .queue {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative; }
    .grid-container .queue-view .queue .queue-flex-inner-extend-wrapper {
      height: 100%;
      width: 100%; }
    .grid-container .queue-view .queue .queue-inner {
      height: 100%;
      overflow: auto; }
    .grid-container .queue-view .queue .detromino-animation-leave, .grid-container .queue-view .queue .detromino-animation-enter.detromino-animation-enter-active {
      opacity: 1;
      height: 30px;
      padding: 5px 0;
      transition: .5s ease; }
    .grid-container .queue-view .queue .detromino-animation-leave.detromino-animation-leave-active, .grid-container .queue-view .queue .detromino-animation-enter {
      opacity: 0;
      height: 0;
      padding: 0;
      transition: .5s ease; }
  .grid-container .queue-view .detromino-view-wrapper {
    padding: 5px 0;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; }
.grid-container .detromino-preview {
  width: 45px;
  height: 30px;
  position: relative; }
  .grid-container .detromino-preview.detromino-preview-I {
    width: 60px;
    position: relative;
    top: 7.5px; }
  .grid-container .detromino-preview.detromino-preview-O {
    width: 30px; }

.control {
  display: grid;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100vw;
  height: 200px;
  grid-template-columns: repeat(2, 60px) auto repeat(3, 60px);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-template-areas: "grid-toggle prev-detromino . block-selectors block-selectors block-selectors" "rotate next-detromino . undo up redo" "done done . left down right"; }
  .control .grid-toggle {
    grid-area: grid-toggle; }
  .control .rotate {
    grid-area: rotate; }
  .control .prev-detromino {
    grid-area: prev-detromino; }
  .control .next-detromino {
    grid-area: next-detromino; }
  .control .undo {
    grid-area: undo; }
  .control .redo {
    grid-area: redo; }
  .control .up {
    grid-area: up; }
  .control .left {
    grid-area: left; }
  .control .right {
    grid-area: right; }
  .control .down {
    grid-area: down; }
  .control .done {
    grid-area: done; }
  .control .block-selectors {
    grid-area: block-selectors; }
  .control .done {
    width: 120px; }
  .control .block-selector {
    display: inline-block; }
  .control .block-selectors {
    grid-area: done; }

.level-container {
  height: 100%;
  width: 100%; }
  .level-container .btns {
    width: 100%;
    justify-content: space-around; }
  .level-container .btn[disabled], .level-container .btn.disabled, .level-container .toggle[disabled], .level-container .toggle.disabled {
    opacity: .2; }

.level-view {
  height: 330px;
  width: 80%;
  position: relative; }
  .level-view .level-view-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%; }
    .level-view .level-view-inner .level-view-unit-wrapper {
      width: 25%;
      position: relative;
      text-align: center;
      padding: 20px 0; }
      .level-view .level-view-inner .level-view-unit-wrapper.completed .stars {
        position: absolute;
        font-size: 18px;
        top: 4px;
        right: 0;
        color: black;
        transform: rotate(15deg); }
        .level-view .level-view-inner .level-view-unit-wrapper.completed .stars.gold {
          color: #FFC107; }
      .level-view .level-view-inner .level-view-unit-wrapper.completed .title-box-view-actual {
        border-color: transparent;
        color: grey;
        background: #e8e8e8; }
      .level-view .level-view-inner .level-view-unit-wrapper .title-box-view {
        display: inline-block;
        height: auto; }
    .level-view .level-view-inner .level-view-unit {
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0 5px 5px; }

.welcome-container .welcome-title {
  font-size: 15vw; }
  .welcome-container .welcome-title .sub-title {
    font-size: 15px;
    margin: 20px 0 0;
    color: black;
    text-align: center; }
.welcome-container .play-btns {
  flex-direction: column; }
  .welcome-container .play-btns .btn {
    margin: 5px; }
.welcome-container .other-btns {
  width: 50vw; }

.title-box-view {
  padding: 10px 5px 5px;
  position: relative;
  height: 100%;
  box-sizing: border-box; }
  .title-box-view .title-box-view-title {
    content: "dummy";
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
    line-height: 20px;
    font-size: 13px;
    padding-right: 2px; }
  .title-box-view .title-box-view-actual {
    border: 1px solid black;
    padding: 10px 5px 5px;
    height: 100%;
    box-sizing: border-box; }

.page-control-view .page-control-dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #e8e8e8;
  margin: 0 7px;
  transition: background .4s ease; }
  .page-control-view .page-control-dot.current-page {
    background: #424242; }

.fullscreen-view {
  position: fixed;
  z-index: 999; }
  .fullscreen-view .fullscreen-menu-background {
    position: absolute;
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;
    z-index: 0;
    background: white;
    opacity: .5; }
  .fullscreen-view .fullscreen-menu-actual-wrapper {
    z-index: 1; }
  .fullscreen-view .fullscreen-menu-actual {
    background: white; }
  .fullscreen-view.end-game-view .fullscreen-menu-actual {
    width: 70vw; }
  .fullscreen-view.end-game-view .title-box-view-actual {
    text-align: center; }
  .fullscreen-view.end-game-view .sub-title {
    color: black;
    text-align: center;
    margin: 30px 10px; }
  .fullscreen-view.tutorial-guide-view {
    position: absolute;
    justify-content: flex-start; }
    .fullscreen-view.tutorial-guide-view.position-top {
      justify-content: flex-start; }
    .fullscreen-view.tutorial-guide-view.position-center {
      justify-content: center; }
    .fullscreen-view.tutorial-guide-view.position-bottom {
      justify-content: flex-end; }
    .fullscreen-view.tutorial-guide-view .fullscreen-menu-actual-wrapper {
      margin: 20px 0; }
  .fullscreen-view hr {
    border-top: black 1px solid;
    margin: 10px 5px; }

.btn.red {
  background: #F44336;
  color: white; }
.btn.green {
  background: #4CAF50;
  color: white; }
.btn.blue {
  background: #448AFF;
  color: white !important; }
.btn[disabled], .btn.disabled {
  opacity: .1; }

.dialog-view {
  z-index: 1000; }
  .dialog-view .fullscreen-menu-background {
    opacity: .9; }
  .dialog-view .dialog-title {
    width: 80vw;
    min-height: 50px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center; }
  .dialog-view .btns {
    justify-content: space-around;
    margin-bottom: 10px; }

.about-view .title-box-view-actual {
  max-height: 70vh;
  padding-bottom: 20px; }
.about-view .about-section {
  width: 70vw;
  padding: 10px;
  text-align: center; }
.about-view p {
  margin: 5px; }

.tutorial-guide-view .guide-text {
  padding: 30px;
  line-height: 25px; }

.title {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center; }
  .title.wide {
    margin: 10px; }

.sub-title {
  color: #448AFF;
  margin: 10px; }

.round-border {
  border-radius: 8px;
  border: 1px grey solid;
  color: grey;
  font-size: 13px;
  display: inline-block;
  padding: 5px; }

.btn.grid-cell-btn.selected {
  background: #eeeced; }
.btn.grid-cell-btn .icon-wrapper {
  display: none; }
.btn.grid-cell-btn .grid-cell {
  top: -7.5px;
  left: 10.5px; }
  .btn.grid-cell-btn .grid-cell.original {
    opacity: 1; }

.hidden {
  display: none; }

.hidden-input {
  top: -1000%;
  left: -1000%;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  overflow: hidden; }

.notifications-wrapper .notifications-tc {
  position: fixed;
  top: 20%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999; }
.notifications-wrapper .notification {
  padding: 10px 20px;
  max-width: 60vw;
  text-align: center;
  font-size: 12px;
  border: black 1px solid;
  box-shadow: 2px 2px 3px 1px #e8e8e8;
  position: absolute;
  background: white;
  transition: 1s ease;
  opacity: 0;
  z-index: 99999; }
  .notifications-wrapper .notification.notification-error {
    color: #F44336;
    border-color: #F44336; }
  .notifications-wrapper .notification.notification-success {
    color: #4CAF50;
    border-color: #4CAF50; }
  .notifications-wrapper .notification.notification-visible {
    opacity: 1; }
  .notifications-wrapper .notification.notification-hidden {
    opacity: 0; }
  .notifications-wrapper .notification .notification-dismiss {
    display: none; }

/*# sourceMappingURL=App.css.map */
