@import "./lib/base.scss";

.grid-container {
  .grid-view {
    $grid-width: 10;
    $grid-height: 20;
    $grid-cell-size: 15px;

    .grid-cells {
      position: relative;
      height: $grid-height * $grid-cell-size;
      width: $grid-width * $grid-cell-size;
    }

    .grid-cell {
      width: $grid-cell-size;
      height: $grid-cell-size;
      display: block;
      position: absolute;
      left: -1000px; // hidden by default
      bottom: -1000px; // hidden by default
      overflow: hidden;
      transition: left .2s ease, bottom .2s ease;

      &.grid-cell-color-solid {
        background-color: black;
      }

      @for $x from 0 through $grid-width {
        &.grid-cell-x-#{$x} {
          left: (1 + $x) * $grid-cell-size;
        }
      }
      @for $y from 0 through $grid-height {
        &.grid-cell-y-#{$y} {
          bottom: (1 + $y) * $grid-cell-size;
        }
      }
    }
  }
}